.DS_Store
Thumbs.db

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

*.o
*.exe
*.dll
*.so
*.pyc
*.class
*.jar
*.war
*.egg-info/
dist/
build/

config.ini
secrets.txt
*.log

data/
*.csv
*.sqlite
*.db

node_modules/

venv/
.venv/

*.txt
!README.txt