.wrapper
  include src/components/header/header.pug
  main.main
    include src/components/current-page/current-page.pug
    +currentPage("imgs/current-page/contacts.png", "Контакты")
    section.contacts.page
      .contacts__body.container
        h2.title.normal.decor Контакты
        .contacts__content
          .contacts__content-main
            .contacts__info
              .contacts__info-row
                span.contacts__info-icon.icon-gps
                .contacts__info-column
                  h6.contacts__info-title Адрес:
                    span.contacts__info-title-mark г. Финикс
                  span ул. Колонцова, дом 5, офис 535
              .contacts__info-row.phone
                span.contacts__info-icon.icon-phone
                .contacts__info-column
                  h6.contacts__info-title Телефон:
                  a.contacts__link(href="tel:+71234567890") +7 (123) 456-78-90
              .contacts__info-row
                span.contacts__info-icon.icon-email
                .contacts__info-column
                  h6.contacts__info-title Email:
                  a.contacts__link(href="mailto:stroy@mail.ru") stroy@mail.ru
            .contacts__content-bottom
              button.button(type="button", data-feedback-button)
                span Обратный звонок
              include src/blocks/socials/socials.pug
              +socials([
                { name: "WhatsApp", href: "#!", icon: "whatsapp" },
                { name: "Вконтакте", href: "#!", icon: "vk" }
              ])
          .contacts__map
            iframe.contacts__map-iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A7d46e372562af113357da5309d5c1b74e8ef58cf7acd6a3779a0f810b8b18a7a&source=constructor", frameborder="0")
  include src/components/footer/footer.pug