meta(name="theme-color" content="#F38613")
meta(name="description" content="Магазин межкомнатных дверей")
meta(name="keywords" content="межкомнатные двери, купить межкомнатные двери, двери для дома, двери для квартиры, двери от производителя, качественные межкомнатные двери, недорогие межкомнатные двери, стильные межкомнатные двери, двери с установкой, двери на заказ, современные межкомнатные двери, деревянные межкомнатные двери, двери с отделкой, установка межкомнатных дверей, двери с бесплатной доставкой")
meta(name="robots" content="index, follow")