.wrapper
  include src/components/header/header.pug
  main.main
    include src/blocks/home/home.pug
    include src/blocks/benefits/benefits.pug
    include src/blocks/works/works.pug
    include src/blocks/about/about.pug
    include src/blocks/contacts/contacts.pug
  include src/components/footer/footer.pug