.button {
  color: white;
  padding: 14px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  text-align: center;
  font-family: "Gilroy-Semibold";
  background-color: $accentColor;
  @include transition;

  @media (hover:hover) {
    &:hover {
      cursor: pointer;
      background-color: #C48139;
    }
  }

  &:active {
    @include scale;
  }

  &.dark {
    background-color: #293041;

    @media (hover:hover) {
      &:hover {
        background-color: #1C1E22;
      }
    }
  }
}