section.home.fullscreen
  .home__background
  .home__body.container
    .home__content
      h1.home__title.title.white(data-aos="zoom-in") Межкомнатные двери
      h4.home__desc(data-aos="zoom-in") Изготовление дверей любого размера в кратчайшие сроки!
      a.home__link(href="catalog.html", data-aos="zoom-in") Подобрать дверь
        span.home__link-icon(data-aos="zoom-in")
          span.icon-arrow-right(data-aos="zoom-in")
    .home__clients
      .home__clients-images
        img.home__clients-image(src="imgs/home/home--1.png", alt="", data-aos="zoom-in")
        img.home__clients-image(src="imgs/home/home--2.png", alt="", data-aos="zoom-in")
        img.home__clients-image(src="imgs/home/home--3.png", alt="", data-aos="zoom-in")
        img.home__clients-image(src="imgs/home/home--4.png", alt="", data-aos="zoom-in")
      .home__clients-info
        span.home__clients-counter(data-aos="zoom-in") 1000+
        span.home__clients-text(data-aos="zoom-in") Довольных <br> клиентов