section.home.fullscreen
  .home__background
  .home__body.container
    .home__content
      h1.home__title.title.white Межкомнатные двери
      h4.home__desc Изготовление дверей любого размера в кратчайшие сроки!
      a.home__link(href="catalog.html") Подобрать дверь
        span.home__link-icon
          span.icon-arrow-right
    .home__clients
      .home__clients-images
        img.home__clients-image(src="imgs/home/home--1.png", alt="")
        img.home__clients-image(src="imgs/home/home--2.png", alt="")
        img.home__clients-image(src="imgs/home/home--3.png", alt="")
        img.home__clients-image(src="imgs/home/home--4.png", alt="")
      .home__clients-info
        span.home__clients-counter 1000+
        span.home__clients-text Довольных <br> клиентов