mixin socials(links, additionalClass = "")
  .socials(class=additionalClass)
    nav.socials__nav
      ul.socials__list
        each link in links
          li
            a.socials__link(href=link.href, data-tippy-content=link.name, data-aos="fade-up", data-aos-delay="100")
              span(class=`icon-${link.icon}`)