@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-family: "Gilroy-Regular";
  src: url("fonts/Gilroy/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-family: "Gilroy-Medium";
  src: url("fonts/Gilroy/Gilroy-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  font-family: "Gilroy-Semibold";
  src: url("fonts/Gilroy/Gilroy-Semibold.woff2") format("woff2");
}